*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
log

# Ignore the default SQLite database.
/db/*.sqlite3
/db/schema.rb

# YARD artifacts
.yardoc
_yardoc
doc/

.idea
