# Default Ruby/Rails ignores
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
log

# Javascript


# Ignore the default SQLite database.
/db/*.sqlite3
/db/schema.rb

# YARD artifacts
.yardoc
_yardoc
doc/

# IDEA files
.idea
