<div class="control-group">
  <label class="control-label" for="bandName">Band name</label>
  <div class="controls">
    {{view Ember.TextField valueBinding="model.name" id="bandName" placeholder="Band name" required="true"}}
  </div>
</div>
<div class="control-group">
  <label class="control-label" for="description">Description</label>
  <div class="controls">
    {{view Ember.TextArea valueBinding="model.description" id="description" placeholder="Description"}}
  </div>
</div>