<h2>Create new band</h2>
<form {{action save on="submit"}} class="form-horizontal">

  {{partial "bands/edit_fields"}}

  <div class="form-actions">
    {{submitButton "Create"}} <!-- this is defined in helpers/forms -->
    <button class="btn" {{action cancel}}>Cancel</button>


  </div>
</form>
