<h2>Create new band</h2>
<form {{action save on="submit"}} class="form-horizontal">

  {{partial "bands/edit_fields"}}

  <div class="form-actions">

    {{! submitButton is defined in helpers/forms }}
    {{submitButton "Create"}}

    <button class="btn" {{action cancel}}>Cancel</button>

  </div>
</form>
