{{! template for the single Band entity, rendered by ShowBandView as the table row }}

<td>{{band.id}}</td>
<td>{{band.name}}</td>
<td>{{band.description}}</td>
<td><button class="btn" {{action edit band}}><i class="icon-edit"></i></button></td>